In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("words.txt", sep=" ", header=None)
data.rename(columns={0:'words'},inplace = True)
words = []
for i in data.words:
    if type(i) == str:
        words.append(i)
        
data = pd.DataFrame(words)
data.rename(columns={0:'words'},inplace = True)

length = []
for i in data.words:
        length.append(len(i))
data['length'] = pd.DataFrame(length)

data = data.loc[data.length.values == 5]

In [63]:
data.head()

     words  length
11   2,4-d       5
15   30-30       5
91   aahed       5
98   aalii       5
101  Aalst       5

In [73]:
def wordle(word1, word2, word3, word4, word5):
    key_word = []
    for i in data.words:
        if (word1 in i)&(word2 in i)&(word3 in i)&(word4 in i)&(word5 in i):
            key_word.append(i)
    return key_word

In [74]:
wordle('r','e','i','t','h')

['ither', 'rithe', 'their']

In [8]:
    key_word = []
    for i in data.words:
        if (i[0] == 's')&(i[4] == 'h')&('c' not in i)&('r' not in i)&('a' not in i)&('n' not in i)&('e' not in i)&('b' not in i)&('i' not in i)&('t' not in i)&('c' not in i):
            key_word.append(i)

In [9]:
key_word

['sh-sh',
 'shush',
 'sylph',
 'slosh',
 'slush',
 'smush',
 'sough',
 'sposh',
 'sumph',
 'swosh']